<div class="footer-dm">

    <footer class="page-footer font-small pt-2">

        <div class="container-fluid">

            <!-- <div class="row bg-info text-white">

                <div class="col-8 py-3">
                    <div class="d-flex justify-content-start">
                        <a href="#" class="fb-ic text-white">
                            <i class="fab fa-facebook-f fa-lg  mr-md-5 "> </i>
                        </a>
                        <a href="#" class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg mr-md-5"> </i>
                        </a>
                        <a href="#" class="ins-ic">
                            <i class="fab fa-instagram fa-lg  mr-md-5 "> </i>
                        </a>
                        <a href="#" class="net-ic">
                            <i class="fas fa-network-wired fa-lg "> </i>
                        </a>
                    </div>
                </div>

                <div class="col-4 py-3">
                    <div class="d-flex justify-content-end mr-5">
                        <a href="index.html" class="logo-ic mr-2">
                            <i class="fas fa-jedi fa-lg fa-2x"> </i>
                        </a>
                    </div>
                </div>

            </div> -->

            <div class="d-flex bg-info py-3 text-decoration-none ">
                <a href="#" class="fb-ic text-white">
                    <i class="fab fa-facebook-f fa-lg  mr-5 ml-5"> </i>
                </a>
                <a href="#" class="gplus-ic text-white">
                    <i class="fab fa-google-plus-g fa-lg mr-5"> </i>
                </a>
                <a href="#" class="ins-ic text-white">
                    <i class="fab fa-instagram fa-lg  mr-5 "> </i>
                </a>
                <a href="#" class="net-ic text-white">
                    <i class="fas fa-network-wired fa-lg mr-5"> </i>
                </a>
                <a href="index.html" class="logo-ic mr-2 flex-grow-1 text-right mr-5 text-white">
                    <i class="fas fa-jedi fa-lg fa-2x"> </i>
                </a>
            </div>

        </div>

        <hr class="my-0 bg-secondary line">

        <div class="footer-copyright text-center py-2 bg-primary text-white font-weight-bold">
            Совок 2019 ©
        </div>

    </footer>

</div>